<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
		<title>Burgers!!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/public.js"></script>
	</head>
	<body>
		{{{ body }}}

	</body>
</html>