<h1>Burgers-a-hoy!</h1>

<h3> Uneaten burgers! Why not try one?</h3>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h3>Burgers you already tried. Why not try again?</h3>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<div id="addBurger">
<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="newBurger">Burger name:</label>
    <input type="text" id="newBurgerName" name="name">
  </div>

  <button type="submit" id="submitButton">Add Burger</button>
</form>
</div>